/* 以下内容摘自最终幻想XIV中文维基，以CC BY-NC-SA 3.0协议共享，有修改。
   引用版本固定链接：https://ff14.huijiwiki.com/index.php?oldid=1227576 */

.card-tooltip {
    width: 104px;
    height: 128px;
    margin: 0 auto;
    position: relative;
}
 
.card-rarity-1 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/CardStar_1.png")
}
 
.card-rarity-2 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/CardStar_2.png")
}
 
.card-rarity-3 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/CardStar_3.png")
}
 
.card-rarity-4 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/CardStar_4.png")
}
 
.card-rarity-5 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/CardStar_5.png")
}
 
.card-rarity {
    width: 29px;
    height: 28px;
    position: absolute;
    left: 9px;
    top: 6px;
}
 
.card-img img {
    position: relative;
}
 
.card-type {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    right: 4px;
}
 
.card-type-1 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/Type_1.png");
}
 
.card-type-2 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/Type_2.png");
}
 
.card-type-3 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/Type_3.png");
}
 
.card-type-4 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/Type_4.png");
}
 
.card-number {
    width: 42px;
    height: 26px;
    position: absolute;
    bottom: 13px;
    left: 30px;
}
 
.card-number>div {
    position: absolute;
    width: 15px;
    height: 12px;
}
 
.card-number--top {
    top: 0;
    left: 14px;
}
 
.card-number--bottom {
    bottom: 0;
    left: 14px;
}
 
.card-number--left {
    top: 6px;
    left: 0;
}
 
.card-number--right {
    top: 6px;
    right: 0;
}
 
.card-number--1 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/1.png");
}
 
.card-number--2 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/2.png");
}
 
.card-number--3 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/3.png");
}
 
.card-number--4 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/4.png");
}
 
.card-number--5 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/5.png");
}
 
.card-number--6 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/6.png");
}
 
.card-number--7 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/7.png");
}
 
.card-number--8 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/8.png");
}
 
.card-number--9 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/9.png");
}
 
.card-number--10 {
    background: url("https://cdn.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/res/10.png");
}