* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #7b5284;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://gcore.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/ui/bg.jpg');
    background-size: 100% 100%;
    background-position: center center;
}

@media only screen and (max-width: 768px) {
    .bg-image {
        background-image: url('https://gcore.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/ui/bg-vertical.jpg');
    }
}

.container {
    display: none;
    flex-wrap: nowrap;
    position: absolute;
}

.board {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 33.333%;
    height: 33.333%;
    position: relative;
    background-image: url('https://gcore.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/ui/cell.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.player-cell::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6565e080;
}

.computer-cell::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2896d80;
}

.player-hand,
.computer-hand {
    /* width: 25%; */
    height: 100%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center; /* 纵向居中 */
    justify-content: center; /* 横向居中 */
}

.card-container {
    width: 104px;
    height: 128px;
    margin: 0 auto;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.player-card {
    width: 104px;
    height: 128px;
    margin: 0 auto;
    position: relative;
    background: url('https://gcore.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/back/blue.png') no-repeat center;
}

.computer-card {
    width: 104px;
    height: 128px;
    margin: 0 auto;
    position: relative;
    background: url('https://gcore.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/back/red.png') no-repeat center;
}

.outcard {
    width: 104px;
    height: 128px;
    margin: 0 auto;
    position: relative;
    background: url('https://gcore.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/back/outcard.png') no-repeat center;
}

.cardback {
    width: 104px;
    height: 128px;
    margin: 0 auto;
    position: relative;
    background: url('https://gcore.jsdelivr.net/gh/Honoka55/xiv-triple-triad/img/back/card.png') no-repeat center;
}

.cardback * {
    display: none;
}

/* 当屏幕宽度大于768px时 */
@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        top: 7%;
        bottom: 7%;
        left: 3%;
        right: 3%;
    }
    .board {
        width: 100vh;
    }
    .player-hand,
    .computer-hand {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .player-hand .card-container,
    .computer-hand .card-container {
        flex-basis: 30%;
    }
}

/* 当屏幕宽度小于768px时 */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        top: 3%;
        bottom: 1%;
        left: 3%;
        right: 3%;
    }
    .board {
        height: 100vw;
    }
    .player-hand,
    .computer-hand {
        width: 100%;
        height: 25%;
    }
    /* 将己方信息放在下面，敌方信息放在上面 */
    .computer-hand {
        order: -1;
    }
    .player-hand {
        order: 1;
    }
    .player-hand,
    .computer-hand {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .player-hand .card-container,
    .computer-hand .card-container {
        flex-basis: calc(20% - 10px);
    }
}

/* 卡牌居中显示 */
.cell .card-tooltip,
.card-container.card-tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selected {
    position: relative;
    top: -5px;
    box-shadow: 0 0 5px white;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1em;
    border-radius: 0.5em;
    z-index: 11;
}

.overlay .button-container {
    display: flex;
    justify-content: center;
}

button {
    background-color: #7b5284;
    color: white;
    border: none;
    padding: 1em 2em;
    border-radius: 1em;
    cursor: pointer;
    margin: 0 1em;
    font-size: 1.2em;
}

button:hover {
    background-color: #55435b;
}

button:active {
    background-color: #3d2942;
}

button[disabled] {
    background-color: gray;
    cursor: not-allowed;
}

.message {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
    z-index: 11;
    margin-bottom: 1em;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-50%);
    }
}

.rules-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.rules-modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 11;
    width: 60%; /* 宽屏幕下占页面宽度的60% */
}

@media screen and (max-width: 768px) {
    .rules-modal {
        width: 100%; /* 窄屏幕下占页面宽度的100% */
    }
}

.rules-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}

.rules-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 0 7%;
}

.rules-content > div {
    margin: 10px;
    flex-basis: calc(25% - 20px);
}

@media screen and (max-width: 768px) {
    .rules-content > div {
        flex-basis: calc(50% - 20px);
    }
}

label {
    font-size: 20px;
}

input[type='checkbox'] {
    transform: scale(1.5);
}

#start-btn {
    margin-top: 20px;
    width: 60%;
    text-align: center;
    display: block;
}

.rule-label {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rule-label a {
    color: white;
    text-decoration: none;
}

.rule-label a:hover {
    text-decoration: underline;
}

.rules-modal .copyright-text {
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .rule-label {
        top: 0;
        right: 0;
        width: 100%;
    }

    .rule-label a {
        float: right;
    }
}

/* 卡面响应式设计 */
@media screen and (max-width: 768px) {
    .player-card,
    .computer-card,
    .outcard,
    .cardback {
        width: 78px;
        height: 96px;
        background-size: 100% 100%;
        background-position: center center;
    }

    .card-tooltip,
    .card-img img {
        width: 78px;
        height: 96px;
    }

    .card-rarity {
        left: 4px;
        top: 3px;
    }

    .card-type {
        top: 2px;
        right: 3px;
    }

    .card-number {
        left: 18px;
    }
}
